n8n/vwc-rss-openrouter-wordpress.workflow.json
{
  "name": "VWC RSS -> OpenRouter -> WordPress",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "d721ac36-1904-4f72-99da-86fa95f46d03",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        272
      ]
    },
    {
      "parameters": {
        "url": "https://www.vwc.org.au/feed/",
        "options": {}
      },
      "id": "b912c49e-2b46-4dca-90f3-f96b99a828fa",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        480,
        272
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop0001-0000-4000-8000-000000000001",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        272
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.seen = staticData.seen || {};\n\nconst output = [];\n\nfor (const item of $input.all()) {\n  const url = item.json.link || item.json.guid || item.json.id;\n  if (!url) continue;\n  if (staticData.seen[url]) continue;\n\n  staticData.seen[url] = new Date().toISOString();\n\n  output.push({\n    json: {\n      sourceUrl: url,\n      rssTitle: item.json.title || '',\n      rssPubDate: item.json.isoDate || item.json.pubDate || '',\n    },\n  });\n}\n\nreturn output;"
      },
      "id": "9435e628-0469-4e36-b7ee-c6545b70f7ec",
      "name": "Filter New URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.sourceUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "f9687122-f319-4005-a72d-e59a521d21c6",
      "name": "Fetch Article HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        272
      ]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "h1.entry-title"
            },
            {
              "key": "contentHtml",
              "cssSelector": "article .entry-content",
              "returnValue": "html"
            },
            {
              "key": "imageUrl",
              "cssSelector": "meta[property=\"og:image\"]",
              "returnValue": "attribute",
              "attribute": "content"
            },
            {
              "key": "fallbackImage",
              "cssSelector": "article img",
              "returnValue": "attribute",
              "attribute": "src"
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "id": "f26367d2-a33c-4390-a56a-265df5be23ab",
      "name": "Extract Article",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1136,
        272
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function stripHtml(html) {\n  return (html || '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<noscript[\\s\\S]*?<\\/noscript>/gi, '')\n    .replace(/\\sdata-[^=]+=\"[^\"]*\"/g, '')\n    .trim();\n}\n\nconst title = $json.title || $('Filter New URLs').item.json.rssTitle || '';\nconst imageUrl = $json.imageUrl || $json.fallbackImage || '';\nconst sourceUrl = $('Filter New URLs').item.json.sourceUrl;\nconst cleanedHtml = stripHtml($json.contentHtml || '');\n\nif (!title) throw new Error('Extraction failed: missing title for ' + sourceUrl);\nif (!cleanedHtml) throw new Error('Extraction failed: missing content for ' + sourceUrl);\nif (!imageUrl) throw new Error('Extraction failed: missing image for ' + sourceUrl);\nif (!sourceUrl) throw new Error('Extraction failed: missing sourceUrl');\n\nreturn {\n  json: {\n    sourceUrl,\n    originalTitle: title.trim(),\n    imageUrl,\n    originalHtml: cleanedHtml,\n    rewritePrompt: [\n      'Rewrite the following article into a fresh, readable, natural news-style post.',\n      'Keep all factual meaning intact.',\n      'Do not add invented facts.',\n      'Do not mention that it was rewritten.',\n      'Return clean HTML only — no markdown, no code fences.',\n      'Preserve paragraphs and subheadings when useful.',\n      '',\n      cleanedHtml,\n    ].join('\\n'),\n  },\n};"
      },
      "id": "82f5b2e3-417d-4296-ab20-be94a43975e8",
      "name": "Prepare Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        272
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.rewritePrompt }}",
        "batching": {}
      },
      "id": "aa000001-0000-4000-8000-000000000001",
      "name": "Rewrite With OpenRouter",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1584,
        272
      ]
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast",
        "options": {
          "temperature": 0.5,
          "systemMessage": "You rewrite article bodies into original, human-readable HTML while preserving all facts. Return clean HTML only — no markdown, no code fences."
        }
      },
      "id": "aa000002-0000-4000-8000-000000000002",
      "name": "OpenRouter Model (Rewriter)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1584,
        460
      ],
      "credentials": {
        "openRouterApi": {
          "id": "KiYJKf1eAKn8w42w",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function slugifyShort(input) {\n  const base = (input || '')\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .trim()\n    .replace(/\\s+/g, '-')\n    .replace(/-+/g, '-')\n    .slice(0, 45)\n    .replace(/-+$/, '');\n\n  const stamp = Date.now().toString().slice(-6);\n  return `${base || 'post'}-${stamp}`;\n}\n\n// chainLlm outputs the response in $json.text\nconst rewritten = $json.text || '';\nconst prepared = $('Prepare Content').item.json;\n\nif (!rewritten) {\n  throw new Error('OpenRouter returned empty content — stopping item to prevent partial post');\n}\n\nreturn {\n  json: {\n    sourceUrl: prepared.sourceUrl,\n    originalTitle: prepared.originalTitle,\n    imageUrl: prepared.imageUrl,\n    rewrittenHtml: rewritten,\n    slug: slugifyShort(prepared.originalTitle),\n  },\n};"
      },
      "id": "1eb110fe-eaa0-4f03-b529-b816c0fca0d6",
      "name": "Build Post Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        272
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "76b12e0b-4a34-4bea-a09b-35783bf38e60",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        272
      ]
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "create",
        "binaryPropertyName": "data",
        "additionalFields": {
          "title": "={{ $('Build Post Payload').item.json.slug }}",
          "altText": "={{ $('Build Post Payload').item.json.originalTitle }}"
        }
      },
      "id": "2579053f-5146-464b-9ae5-d56eb55d445e",
      "name": "Upload WordPress Media",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2240,
        272
      ],
      "credentials": {
        "wordpressApi": {
          "id": "0KGCyGu3ZuadxVOZ",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "title": "={{ $('Build Post Payload').item.json.originalTitle }}",
        "additionalFields": {
          "content": "={{ $('Build Post Payload').item.json.rewrittenHtml }}",
          "status": "publish",
          "slug": "={{ $('Build Post Payload').item.json.slug }}",
          "featuredMediaId": "={{ $json.id }}"
        }
      },
      "id": "d9773264-166c-41b3-9b63-21aafd3e7365",
      "name": "Create WordPress Post",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        2464,
        272
      ],
      "credentials": {
        "wordpressApi": {
          "id": "0KGCyGu3ZuadxVOZ",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b62cb5e9-e21a-4dd4-9b2b-cb424c82d218",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1584,
        720
      ],
      "webhookId": "5734c130-468b-4424-bb02-6afa216171aa"
    },
    {
      "parameters": {
        "batching": {}
      },
      "id": "e53a75b7-bf8f-4cb5-9524-6888b58cbb63",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1808,
        720
      ]
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast",
        "options": {}
      },
      "id": "c3a807e1-3667-472a-94d2-b1b2aa965359",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1808,
        900
      ],
      "credentials": {
        "openRouterApi": {
          "id": "KiYJKf1eAKn8w42w",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter New URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New URLs": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Fetch Article HTML",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Article HTML": {
      "main": [
        [
          {
            "node": "Extract Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article": {
      "main": [
        [
          {
            "node": "Prepare Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Content": {
      "main": [
        [
          {
            "node": "Rewrite With OpenRouter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model (Rewriter)": {
      "ai_languageModel": [
        [
          {
            "node": "Rewrite With OpenRouter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite With OpenRouter": {
      "main": [
        [
          {
            "node": "Build Post Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Post Payload": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload WordPress Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload WordPress Media": {
      "main": [
        [
          {
            "node": "Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Post": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Melbourne",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": true
  },
  "versionId": "689c738c-c657-49d6-9a38-613da7078f24",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ee218725629b8a22fe93f05d54f0a9012389032e07de16e9d213f5a09cc51b5"
  },
  "id": "400xo2mtpgq72qZx",
  "tags": [
    {
      "updatedAt": "2026-03-10T18:46:58.789Z",
      "createdAt": "2026-03-10T18:46:58.789Z",
      "id": "P2DRBL2IJuR5qtVu",
      "name": "vwc"
    },
    {
      "updatedAt": "2026-03-10T18:46:58.813Z",
      "createdAt": "2026-03-10T18:46:58.813Z",
      "id": "uvegaowveQJWfufM",
      "name": "wordpress"
    },
    {
      "updatedAt": "2026-02-20T06:31:41.384Z",
      "createdAt": "2026-02-20T06:31:41.384Z",
      "id": "9NTCZKJbO22TMghf",
      "name": "automation"
    }
  ]
}